@import "tailwindcss";


@theme {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --border: 214.3 31.8% 91.4%;
  --muted: 210 40% 96%;
  --primary: 221 83% 53%;
}


